<h1>Hi, <%= @user.name %></h1>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>

<div class="nav-bar">
  <div class="nav-buttons">
    <button><%= link_to "Account", new_account_path %></button>
  </div>
</div>