<div class="record-buttons">
    <%= link_to "Add Records", new_account_bill_path, class: "rcd-btn add-record-btn" %>
    <%= link_to "Show All Records", account_bills_path, class: "rcd-btn show-records-btn" %>
</div>