<%= render 'welcome/home' %>

<%= render partial: "welcome/title_status", locals: {title: "Edit Record"} %>

<div class="data-layout">
    <%= render "record_options" %>
    <%= render partial: "form", locals: {bill: @bill_param, submitBtn: "Update Record"} %>
</div>
