<%= render 'welcome/home' %>

<%= render partial: "welcome/title_status", locals: {title: "Add New Record"} %>

<div class="data-layout">
    <div class="content-container">
        <%= render "record_options" %>
        <%= render partial: "form", locals: {bill: @bill_param, submitBtn: "Create Record"} %>
    </div>
</div>

