<h1>Category</h1>

<div class="all_categories">
  <div class="category_list">
    <ul>
      <li class="category_title">Main Category</li>
      <ul class="category_name">
        <% @category_parent_array.each do |parent| %>
        <li id=<%= parent.id %>><%= parent.name %></li>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<%= javascript_pack_tag "category" %>